body {
    background-color: #000034;
  }
  .menu {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #8080ff;
  overflow-x: hidden;
  padding-top: 20px;
  }
  .menu a {
    font-size: 20px;
    font-family: helvetica;
    font-color: mintcream;
  }
  .content {
      margin-left: 120px;
  }

  h1 {
    text-align: center;
    color: mintcream;
    font-size: 40px;
    font-family: helvetica;
    margin-inline-start: 5px;
  }
  h2 {
    text-align: center;
    color: mintcream;
    font-size: 25px;
    font-family: helvetica;
    margin-bottom: 100px;
    margin-inline-start: 5px;
  }
  h3 {
    padding-left: 20px;
    padding-top: 10px;
    color: mintcream; 
    font-family: helvetica;
    font-size: 22px;
    margin-bottom: 5px;
    margin-inline-start: 5px;
  }
  h4 {
    padding-left: 20px;
    padding-top: 30px;
    color: mintcream; 
    font-family: helvetica;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
    margin-inline-start: 5px;
  }
  h5 {
    padding-left: 20px;
    color: mintcream; 
    font-family: helvetica;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
    margin-inline-start: 5px;
  }
  .education {
    padding-left: 40px;
    color: mintcream; 
    font-family: helvetica;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
    margin-inline-start: 5px;
  }
  p {
    color: mintcream; 
    font-family: helvetica;
    font-size: 14px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin-inline-start: 5px;
  }
  ol.cv {
    list-style-type: circle;
    color: mintcream;
    font-size: 14px;
    font-family: helvetica;
    padding-left: 30px;
  }
   a:link {
      color: palegoldenrod;
  }
   a:visited {
      color: gray;
  }
   a:hover {
      color: hotpink;
  }
   a:active {
      color: red;
  }
  #skills {
      column-count: 2;
      column-gap: 40px;
      column-width: 100px;
      column-rule-width: 0px;
  }

    
