/* Personal Website Assignment - Matthew De Matos
GEOM 101, Fall 2023
Geographic Information Systems - Applications Specialist program, Fleming College

Used the w3schools margin page (https://www.w3schools.com/css/css_margin.asp), font page 
(https://www.w3schools.com/css/css_font.asp), text page (https://www.w3schools.com/css/css_text.asp)
and the Colour Picker (https://www.w3schools.com/colors/colors_picker.asp heavily throughout the document for 
formatting all block and text elements*/

/* Wanted a dark, but not quite black background. Used https://www.w3schools.com/css/css_background.asp for
background formatting and the colour picker to decide on a good colour*/
body {
    background-color: #000034;
  }
/* I wanted my sidebar to stay fixed to the side of the screen, similar to w3schools, so I used 
https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp to learn how this is done. Kept many of the 
elements from the example to ensure the element works properly, but changed the colours and formatting 
of the content to suit my website */
  .menu {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3399ff;
  overflow-x: hidden;
  padding-top: 15px;
  }
/* Class tags for the links inside the navbar. Formatting tips from 
https://www.w3schools.com/css/css_link.asp */
  .nav {
    font-size: 20px;
    font-family: helvetica;
    color: mintcream;
    padding-bottom: 10px;
    text-decoration: none;
  }
  .nav:visited {
      color: #000034;
  }
  .nav:hover {
      color:red;
  }
  .content {
      margin-left: 130px;
      margin-bottom: 30px;
  }
/* Headings designed to replicate the formatting of my current resume. Manually edited size and 
margin inline start to improve the design and override 2 of the default user agent stylesheet elements.
Heavily used the developer tools in F12, as demonstrated in lab by Shawn Morgan, to make decisions about headings.*/
  h1 {
    text-align: center;
    color: mintcream;
    font-size: 40px;
    font-family: helvetica;
    margin-inline-start: 5px;
    margin-bottom: 40px;
  }
  h2 {
    padding-left: 20px;
    padding-top: 10px;
    color: mintcream; 
    font-family: helvetica;
    font-size: 22px;
    margin-bottom: 5px;
    margin-inline-start: 5px;
  }
  h3 {
    padding-left: 20px;
    padding-top: 30px;
    color: mintcream; 
    font-family: helvetica;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
    margin-inline-start: 5px;
  }
  h4 {
    padding-left: 20px;
    color: mintcream; 
    font-family: helvetica;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
    margin-inline-start: 5px;
  }
  .education {
    padding-left: 40px;
    color: mintcream; 
    font-family: helvetica;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
    margin-inline-start: 5px;
  }
  p {
    color: mintcream; 
    font-family: helvetica;
    font-size: 14px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin-inline-start: 5px;
  }
  ul {
    padding-inline-start: 15px;
    list-style-type: none;
  }
  .navlist {
      margin-inline-start: 10px;
      margin-bottom: 20px;
  }
  ol.cv {
    list-style-type: circle;
    color: mintcream;
    font-size: 14px;
    font-family: helvetica;
    padding-left: 30px;
  }
  li {
    margin-left: 10px;
  }
   a:link {
      color: palegoldenrod;
  }
   a:visited {
      color: gray;
  }
   a:hover {
      color: hotpink;
  }
   a:active {
      color: red;
  }
  #skills {
      column-count: 2;
      column-gap: 40px;
      column-width: 100px;
      column-rule-width: 0px;
  }
  img {
      width: 100%;
      max-width: 200px;
  }
