body {
    background-color: #000034;
  }
  h1 {
    text-align: center;
    color: mintcream;
    font-size: 40px;
    font-family: helvetica;
  }
  h2 {
    text-align: center;
    color: mintcream;
    font-size: 25px;
    font-family: helvetica;
    margin-bottom: 100px;
  }
  h3 {
    padding-left: 20px;
    padding-top: 10px;
    color: mintcream; 
    font-family: helvetica;
    font-size: 22px;
  }
  h4 {
    padding-left: 20px;
    padding-top: 10px;
    color: mintcream; 
    font-family: helvetica;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
  }
  h5 {
    padding-left: 20px;
    color: mintcream; 
    font-family: helvetica;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
  }
  p {
    color: mintcream; 
    font-family: helvetica;
    font-size: 15px;
    padding-bottom: 30px;
    padding-left: 20px;
  }
    ol.cv {
      list-style-type: circle;
      color: mintcream;
      font-size: 14px;
      font-family: helvetica;
      padding-left: 30px;
  }
   a:link {
      color: palegoldenrod;
  }
   a:visited {
      color: gray;
  }
   a:hover {
      color: hotpink;
  }
   a:active {
      color: red;
  }
  div#skills {
      column-count: 2;
      column-gap: 40px;
      column-rule-width: 0px;
  }

    
